{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <h2>
            Anda Sudah Login
        </h2>
    {% else %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Login" id ='login-button'>
        </form>
    {% endif %}
{% endblock %}
