{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'InOut.css' %}">
{% endblock %}

{% block content %}

<div id="Title">
    <p>Masukan data pemasukan / pengeluaran kamu disini</p>
</div>

{% if saldo.saldo < 0 %}
    <div id="Warning">
        <h2>PERINGATAN!</h2>
        <p>Pengeluaran kamu telah melebihi 
            uang yang kamu miliki! Segera
            atur pengeluaranmu!
        </p>
    </div>
{% endif %}

<div class="dataForm">
    <div id="keluarMasuk">
        <a id="moveIn" class="current">Pemasukan</a>
        <a id="moveOut" class="movePage">Pengeluaran</a>
    </div>
    {% if saldo.saldo < 9999999999 %}
        <div id="formInput">
            <table>
                {% csrf_token %}
                <div id="inputFormData">
                    <label>Catatan: </label>
                    <input type="text" name="keterangan" maxlength="100" required="" id="id_keterangan">
                    <label>Nominal: </label>
                    <input type="number" name="nominal" value="0" required="" id="id_nominal">
                </div>
            </table>
        </div>
        <div id="buttonSumbit">
            <input class="submitButton" type="submit" value="Simpan">
        </div>
    {% else %}
        <div id="saldoLewat">
            <p>Saldomu melewati batas yang dapat ditampung DompetQ :(</p>
        </div>
    {% endif %}
</div>    

<div id="tabelRiwayat">
    <p id="Riwayat">Riwayat</p>
    <div id="tabelTransaksi">
        <div class="keteranganBar">
            <p class="tanggal">Tanggal</p>
            <p class="catatan">Catatan</p>
            <p class="jenis">Jenis</p>
            <p class="nominal">Nominal</p>
            <p class="saldo">Saldo</p>
        </div>
        <div class="getData"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'inOut.js' %}"></script>

{% endblock %}