{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheet %} 
    <link rel="stylesheet" href="{% static 'wishlist.css' %}"> 
{% endblock %}

{% block content %}

    <div class="title text-center">
        <p> Wishlist </p>
    </div>
    
    {% for w in wishes %}
        {% empty %}

        <div class="kosong text-center">
            <p>
                Wishlistnya Masih Kosong
            </p>
        </div>
    {% endfor %}


    <div class="button-con">
        <div class="tambah-button">
            <a href="{% url 'wishlist:add_wishlist' %}">
                Tambahkan Wishlist
            </a>
        </div>

        <div class="kosong-button">
            <form action="{% url 'wishlist:all_delete' %}" method = 'post'>
                {% csrf_token %}
                <input type="submit" value = "Kosongkan  Wishlist">
            </form>
        </div>
    </div>


    <div class="wishes">
        {% for wish in wishes %}
                <div class="wish">
                    <div class="img-container">
                        <img src="{{ wish.picture.url }}" alt="" class="thumb">
                    </div>
        
                    <div class="desc">
                        <div class="name-con">
                            <p>
                                {{ wish.nama }}
                            </p>
                        </div>
        
                        <div class="harga-con">
                            <p>
                                Rp{{ wish.harga }}
                            </p>
                        </div>
                    </div>
                    
                    <div class="button-con">
                        <form action="{% url 'wishlist:delete' id=wish.id %}">
                            {% csrf_token %}
                            <input type="submit" value = "Hapus Barang">
                        </form>
                    </div>

                    <input type="submit" value="Check" class = 'check-button'>
                </div>
        {% endfor %}

        
    </div>

    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="{% static 'wishlist.js' %}"></script>
{% endblock %}