@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@font-face {
    font-family: "Rajdhani";
    src: url(fonts/Rajdhani-Medium.ttf);
}
.promopage .title{
    /* height: 100vh; */
    font-size: 300%;
    font-family: Rajdhani;
    margin-top: -2%;
}
.promopage #promo{
    font-family: Montserrat;
}
.promopage .card{
    background-color: #F3F8F1;
}
.promopage .buttontambah{
    margin-left: -10%;
}
.promopage .buttonhapus{
    margin-left: 10%;
}

.btn-warning {
    background-color: #ECD897;
} 
#buttonbawah{
    margin-bottom: 3%;
}
.pageisipromo .title{
    font-size: 300%;
    font-family: Rajdhani;
    margin-top: -5%;
}



