
{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block content %}

        <!--FORM -->
        <div id="iniForm">
          <br>
            <form  action ="{% url 'jadwalIni:SchedulePost' %}" style="margin-top:auto;margin-right: auto;margin-left: auto;" method ="POST" id="formJadwal" class="form-group form-horizontal justify-content-center col-sm-4">
                {% csrf_token %}              
                <p style="color: black;" class="text">Catatan :</p>
                <div id="catatan">{{form.catatan}}</div>
                <p style="color: black;" class="text">Nominal :</p>
                <div id="nominal">{{form.nominal}}</div>
                <p style="color: black;" class="text">Tanggal :</p>
                <div id="tanggal">{{form.tanggal}}</div>
                <br>
                <button action ="{% url 'jadwalIni:SchedulePost' %}" id="js-create-jadwal"class="btn text text-center" type="submit" style="background-color:#ECD897 ; color:black;margin-top:auto;margin-right: auto;margin-left: auto">Tambahkan Jadwal</button>
              </form>
              <br>
              <br>
              <br>
              <br>

        </div>
        

        <!-- TABEL JADWAL  -->
        <div class="tabledivJadwal" class="text-center">
            <form  style="margin-right: auto;margin-left: auto;" action="{% url 'jadwalIni:SchedulePost' %}" method="get"  class="col-md-4 text text-center" >
                <div  class="row ">
                    <table id="tableJadwal" class="table">
                        <thead >
                          <th class="text-center">
                            <h3 style="color:white;font-weight: 600;">Jadwal Pembayaran</h3>
                          </th>
                        </thead>
                        <tbody>
                         
                        </tbody>
                      </table>
                </div>   
              </form>
  
           
        

          
{% endblock %}










