{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'promolist.css' %}">
{% endblock %}

{% block content %}
<div class="promopage">
    <div class="container-fluid">
            <div class = "title">
                <p class="title-text text-center"><strong>PROMO</strong></p>
            </div>
        
        <div class = "row justify-content-center" id="buttonpagepromo">
            <div class = 'form-group'>
                <a href="{% url 'promolist:create' %}" class="buttontambah"><button type="button" class="btn btn-warning btn-style" id ="button1">tambah promo</button></a>
                <a href="{% url 'promolist:delete' %}" class="buttonhapus"><button type="button" class="btn btn-warning btn-style" id ="button2">hapus semua</button></a>
            </div>
        </div> 

        <div id="promo">
            <div class="row justify-content-center" id='to-app'>
                <!-- {% for items in promos %}
                    <div class="col-md-3">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                <h5 class="card-title">{{items.Kategori}}</h5>
                                <h5 class="card-title">{{items.Nama_Promo}}</h5>
                                <p class="card-text">{{items.Kode_Promo}}</p>
                                <p class="card-text">{{items.Mulai_Promo.date }}</p>
                                <p class="card-text">{{items.Promo_Sampai.date }}</p>
                                </div>
                            </div>
                        </div>
                {% endfor %} -->
                </div>
            </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'promolist.js' %}"></script>

{% endblock %}