@font-face {
    font-family: "Rajdhani";
    src: url("fonts/Rajdhani-Medium.4a21615266ec.ttf");
}

p {
    font-family: "Rajdhani";
}

#Title {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

#Warning {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;
    color: red;
}

.dataForm {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    height: 300px;
    background:#E9DCDE;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#keluarMasuk {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#keluarMasuk .current {
    width: 120px;
    height: 36px;
    background: #ECD897;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#keluarMasuk .movePage {
    width: 120px;
    height: 36px;
    background: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

#inputFormData {
    display: flex;
    flex-direction: column;
}

#inputFormData label {
    text-align: center;
}

#inputFormData input {
    width: 200px;
    border: none;
    border-radius: 3px;
}

#buttonSumbit input[type=submit] {
    width: 75px;
    height: 36px;
    border: none;
    border-radius: 5px;
    background: #E9A7A7;
}
#formInput {
    margin-left: auto;
    margin-right: auto;
}

#buttonSumbit {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

#saldoLewat {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    text-align: center;
    color: red;
}

#tabelRiwayat {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 700px;
}


#tabelRiwayat #Riwayat {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#tabelTransaksi {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    max-height: 500px;
    overflow: auto;
}



@media only screen and (max-width: 750px) {
    #tabelTransaksi {
        width: 80%;
        overflow-x: scroll;
        margin-left: auto;
        margin-right: auto;
    }
    
}

.keteranganBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #BDBDBD;
    width: 700px;
    min-height: 50px;
}

.getData{
    width: 700px;
}

.keteranganBar p {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tanggal{
    width: 150px;
    min-height: 50px;
    text-align: center;
}

.catatan {
    width: 150px;
    min-height: 50px;
    text-align: center;
}

.jenis {
    width: 150px;
    min-height: 50px;
    text-align: center;
}

.nominal {
    width: 150px;
    min-height: 50px;
    text-align: center;
}

.saldo {
    width: 150px;
    min-height: 50px;
    text-align: center;
}

.transaksi {
    display: flex;
    flex-direction: column;
}

.transaksi p {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pemasukanData {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #C9E7BD;
}

.pengeluaranData {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #CA5164;
}

.focus {
    border-style: solid;
    border-width: 3px;
    background: rgba(228, 250, 237, 0.856);
}