form {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

label {
    padding-left: 60px;
    text-align: center;
}

input {
    width: 150px;
}

#item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-button {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}