@font-face {
    font-family: "Rajdhani";
    src: url(fonts/Rajdhani-Medium.ttf);
}

html, body {
    font-family: 'Rajdhani';
}

.navbar {
    background-color: #9BD0BF;
    position: sticky;
}

.navbar a {
    font-family: 'Rajdhani';
    color: rgb(245, 245, 245, 0.9) !important;
    text-decoration: none;
}

.navbar a:hover {
    font-family: 'Rajdhani';
    font-weight: bold;
    color: #F5F5F5;
}

.navbar .navbar-brand {
    position: fixed;
}

.navbar .collapse {
    justify-content: center;
}

.title {
    padding-top: 50px;
    font-size: 48px;
    font-weight: bold;
}

.button-con {
    display: flex;
    justify-content: space-around;   
}


.tambah-button, .back-button {
    padding: 10px;
    background-color: #ECD897;
    border-radius: 10px;
    transition: 0.3s;
}

.tambah-button:hover, .back-button:hover {
    font-size: 1.2em;
    transition: 0.3s;
}

.tambah-button a, .back-button a, .confirm-delete a {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.wishes {
    padding-top: 50px;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wish, .wish-delete {
    margin-top: 50px;
    border-radius: 10px;
    background-color: #F3F8F1;
    border-style: solid;
    border-color: #F3F8F1;
    width: 287px;
    height: 406px;
    transition: 0.3s;
}

.wish-delete {
    margin: 0 auto;
}

input[type=submit] {
    background-color: #ECD897;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
}

input[type=submit]:hover {
    transition: 0.3s;
    font-size: 1.2em;
}

.wish img, .wish-delete img {
    height: 25vh;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.name-con p {
    font-size: 32px;
    font-weight: bold;
}

.harga-con {
    font-size: 28px;
}

.form-container {
    font-size: 2em;
    font-weight: bold;
    border-style: solid;
    border-color: #ECD897;
    width: 35%;
    margin: 0 auto;
    margin: 0 auto 50px auto;  
    padding: 10px;
    border-radius: 10px;
    background-color: #ECD897;
}

.tombol-con {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 20px;
}

#id_picture {
    font-size: 0.5em;
}

.confirm-delete {
    border-style: solid;
    border-color: #CA5164;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

.confirm-delete:hover {
    background-color: #CA5164;
    transition: 0.3s;
    font-size: 1.2em;
}

.kosong p {
    font-size: 42px;
    font-weight: bold;
}


@media only screen and (max-width :1200px) {
    .navbar .navbar-brand {
        position: static;
    }
}